/* Configuração geral da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}                          
/*Estilo de corpo da página*/
body{
    font-family: Ariel, sans-serif;
    background-color:hsl(167, 37%, 66%);
    color:black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
main{
    max-width: 420px;
    width: 100%;
}
/*Estilo do título da página*/
h1{
    text-align: center;
    color:rgb(0, 0, 0);
    margin:0 0 20px;
}
/*Estilo do formulário*/
form{
    background: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius:15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.10);
}
/*Estilo dos rótulos dos campos do formulário*/
label{
    display:block;
    margin-bottom: 7px;
    color: rgb(0, 0, 0);
}

input{
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

input:focus{
    border-color: burlywood;
    box-shadow: 0 0 0 2px rgba(29,53,87,0.15);
}
/*Estilo de botão*/
button{
    width: 100%;
    padding: 13px;
    border:none;
    border-radius: 8px;
    background: rgb(110, 105, 116);
    color:rgb(255, 255, 255);
    font-size:16px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.2s;
}
/*Muda a cor do botão quando passa o mouse*/
button:hover{
    background: rgb(29, 53, 87);
    color: white;
}
/*Mensagem de erro*/
#mensagem{
    margin-top:15px;
    text-align:center;
    color: red;
    font-weight: bold;
}
/*Estilo de área de resultado*/
#resultado{
   background: rgb(255, 255, 255);
   padding: 25px;
    border-radius: 15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.10);
    margin-bottom: 15px;
}
/*Espaçamento entre as informações do resultado*/ 
#resultado p{
    padding:9px 0;
    border-bottom: 1px solid #ccc;
}
/*Cor dos títulos das informações*/
#resultado p strong{
    color: rgb(0, 0, 0);
}
/*Estilo dos links*/
a{
    display: block;
    text-align: center;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#linkMaps:hover{
    background: rgb(243, 243, 243);
    text-decoration: none;
}
